<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addition</title>
    
</head>

<body>
    <h1 class="text-violet-600 text-3xl text-center font-bold mt-5">Addition</h1>
    <form action="/cal" method="post">
        <label for="num1">Number 1:</label>
        <input type="number" id="num1" name="num1" required><br><br>
        
        <label for="num2">Number 2:</label>
        <input type="number" id="num2" name="num2" required><br><br>
        
        

        <input type="submit" value="Calculate">
    </form>

    <div>
        <h3>Result : <span id="result" th:text="${result}"></span> </h3>
          
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>
